# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# Phonegap specific dirs and files
# =========================
.cordova/
hook/
platforms/
!platforms/android/ant.properties
plugins/

www/css/jqm_1.4.2/images/ajax-loader.gif
www/css/jquery.mobile.structure-1.4.2.min.css
*.map
www/js/jquery-1.9.1.min.js
www/js/jquery.mobijq.min.js
www/js/jquery.mobile-1.4.2.min.js
